@page
@model ProductApp.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.AmountInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.AmountInStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductItem.Distributor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductItem.Distributor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductItem?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
